<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<body>
    <%
        let numContrato = txtNumContrato;
        let nombre = txtNombre;
        let nivel = optNivel;
        let pagoDiario = txtPagoDiario;
        let diasTrabajados = txtDiasTrabajados;
        let incremento;

        if(nivel == 1) {
            incremento = .20;
        }
        else if(nivel == 2) { 
            incremento = .50;
        }
        else if(nivel == 3) {
            incremento = 1;
        }

        
        
        let subTotal = ((pagoDiario * incremento) + parseFloat(pagoDiario)) * diasTrabajados;
        let impuesto = subTotal * .16;
        let totalPagar = subTotal - impuesto;
    %>

    <table class='table' style='text-align:center;'>
        <thead>
        <tr>
            <th scope='col'>Numero contrato</th>
            <th scope='col'>Nombre</th>
            <th scope='col'>Nivel de estudios</th>
            <th scope='col'>Pago por dia</th>
            <th scope='col'>Dias trabajados</th>
        </tr>
        </thead>
        <tbody
        <tr>
            <th scope='row'><%=numContrato%></th>
            <td><%=nombre%></td>
            <td><%=nivel%></td>
            <td><%=pagoDiario%></td>
            <td><%=diasTrabajados%></td>
            <th scole='col'></th>
        </tr>
        <tr>
            <th scope='row'></th>
            <td></td>
            <td></td>
            <th scole='col'>Subtotal</th>
            <td><%=subTotal%></td>
        </tr>
        <tr>
            <th scope='row'></th>
            <td></td>
            <td></td>
            <th scole='col'>Impuestos 16%</th>
            <td><%=impuesto%></td>
        </tr>
        <tr>
            <th scope='row'></th>
            <td></td>
            <td></td>
            <th scole='col'>Total a pagar</th>
            <td><%=totalPagar%></td>
        </tr>
        </tbody>
    </table>
    <%-include('partials/pie.html');%>
</body>
</html>