<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<body>
        <form action="/paginaSalida" method="p">
            <center>
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Numero de contrato:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtNumContrato" name="txtNumContrato" required>
                </div>
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" required>
                </div>
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Domicilio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtDomicilio" name="txtDomicilio" required>
                </div>
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Nivel de estudios:</label>
                <div class="col-sm-10">
                    <select style="text-align:center;" class="form-select" arial-label="Default select example" id="optNivel" name="optNivel">
                        <option value="1">Licenciatura</option>
                        <option value="2">Maestría</option>
                        <option value="3">Doctorado</option>
                    </select>
                </div>
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Pago diario base:</label>
                <div class="col-sm-10">
                    <input type="number" step="any" min="0" class="form-control" id="txtPagoDiario" name="txtPagoDiario" required>
                </div>
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Dias trabajados:</label>
                <div class="col-sm-10">
                    <input type="number" step="any" min="0" class="form-control" id="txtDiasTrabajados" name="txtDiasTrabajados" required>
                </div>
            <hr>
            </center>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button class="btn btn-secondary" type="reset">Limpiar</button>
        </form>
    <%-include('partials/pie.html');%>
</body>
</html>